@using Rogue_BT.Helper;
@using Microsoft.AspNet.Identity;
@model Rogue_BT.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
    var userHelper = new UserHelper();
    
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    @*<img src="@userHelper.GetAvatarPath()" />*@
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
		{
        <h2>Hello @userHelper.LastNameFirst(User.Identity.GetUserId())</h2>
		}
		else 
        { 
            <h2>YOU SHOULD NOT BE SEEING THIS, PLEASE ADD SECURITY</h2> 
        }
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>